body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    
    background: linear-gradient(92.76deg, #000000 50.52%, #d3d1d1 100.68%, #ffffff 168.67%);
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}
.adjust{
    height: 30px;
}
.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}